<script type="text/x-red" data-template-name="thingml-compiler">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> <span data-i18n="node-red:common.label.name"></span></label>
        <input type="text" id="node-input-name" data-i18n="[placeholder]node-red:common.label.name">
    </div>
    <div class="form-row">
        <label for="node-input-target"><i class="fa fa-bullseye"></i> <span data-i18n="thingml-compiler.label.target"></span></label>
        <select id="node-input-target">
            <option value="arduino">Arduino</option>
            <option value="go">Go</option>
            <option value="java">Java</option>
            <option value="nodejs">NodeJS</option>
            <option value="posix">POSIX</option>
            <option value="teensy">Teensy</option>
        </select>
        <input type="hidden" id="node-input-code" autofocus="autofocus">
    </div>

    <!-- Inspired from 05-tls.html -->
    <div class="form-row">
        <label for="node-input-source"><i class="fa fa-file-text-o"></i> <span data-i18n="thingml-compiler.label.source"></span></label>
        <input type="text" id="node-input-source" style="width: calc(100% - 180px);" data-i18n="[placeholder]thingml-compiler.label.source">
        <label class="editor-button" style="width: 45px" for="node-input-sourcefile" id="node-input-sourcefile-label"><i class="fa fa-upload"></i></label>
        <input class="hide" type="file" id="node-input-sourcefile">
        <button class="editor-button editor-button-small" style="margin-left: 1px" id="node-button-source-clear"><i class="fa fa-times"></i></button>
        <input type="hidden" id="node-input-sourcetype">
        <input type="hidden" id="node-input-triggerModified"> <!-- workaround to force redeploy -->
    </div>

    <div class="form-row" class="hide" id="node-config-row-sourcepath">
        <label for="node-input-sourcepath"><i class="fa fa-tag"></i> <span data-i18n="thingml-compiler.label.sourcepath"></span></label>
        <input type="text" id="node-input-sourcepath" data-i18n="[placeholder]thingml-compiler.label.sourcepath">
    </div>

    <div class="form-row node-text-editor-row">
        <div style="height: 250px; min-height:150px;" class="node-text-editor" id="node-input-thingml-editor"></div>
    </div>
</script>

<script type="text/x-red" data-help-name="thingml-compiler">
    <p>The ThingML approach is composed of i) a modeling language, ii) a set of tools and iii) a methodology. The modeling language combines well-proven software modeling constructs for the design and implementation of distributed reactive systems.</p>
    <p>This component consumes a ThingML model and generates code in a target programming language (e.g., C, Java, javascript). This code is then compiled/interpreted and deployed on the selected host.</p>
</script>

<script type="text/javascript">
    RED.nodes.registerType('thingml-compiler', {
        category: 'GeneSIS',
        color: '#fdf0c2',
        defaults: {
            name: {
                value: ""
            },
            active: {
                value: true
            },
            target: {
                value: "arduino"
            },
            triggerModified: { // workaround to force re-deploy on file upload with same name
                value: false
            },
            code: {
                value: ""
            },
            source: {
                value: ""
            },
            sourcetype: {
                value: ""
            },
            sourcepath: {
                value: ""
            }
        },
        inputs: 1,
        outputs: 1,
        icon: "thingml.png",
        align: "right",
        label: function() {
            return this.name||"thingml-compiler";
        },
        labelStyle: function () {
            return this.name ? "node_label_italic" : "";
        },
        // inspired from 58-debug.html
        button: {
            toggle: "active",
            onclick: function() {
                var label = this.name||"thingml-compiler";
                var node = this;
                $.ajax({
                    url: "thingml-compiler/"+this.id+"/active/"+(this.active?"enable":"disable"),
                    type: "POST",
                    success: function(resp, textStatus, xhr) {
                        var historyEvent = {
                            t:'edit',
                            node:node,
                            changes:{
                                active: !node.active
                            },
                            dirty:node.dirty,
                            changed:node.changed
                        };
                        node.changed = true;
                        node.dirty = true;
                        RED.nodes.dirty(true);
                        RED.history.push(historyEvent);
                        RED.view.redraw();
                        if (xhr.status == 200) {
                            RED.notify(node._("node-red:debug.notification.activated",{label:label}),"success");
                        } else if (xhr.status == 201) {
                            RED.notify(node._("node-red:debug.notification.deactivated",{label:label}),"success");
                        }
                    },
                    error: function(jqXHR,textStatus,errorThrown) {
                        if (jqXHR.status == 404) {
                            RED.notify(node._("node-red:common.notification.error", {message: node._("node-red:common.notification.errors.not-deployed")}),"error");
                        } else if (jqXHR.status === 0) {
                            RED.notify(node._("node-red:common.notification.error", {message: node._("node-red:common.notification.errors.no-response")}),"error");
                        } else {
                            RED.notify(node._("node-red:common.notification.error",{message:node._("node-red:common.notification.errors.unexpected",{status:err.status,message:err.response})}),"error");
                        }
                    }
                });
            }
        },
        oneditprepare: function () {
            var node = this;

            $("#node-input-target").change(function() {
                if ($(this).val() == "arduino") {
                    $(".form-row-thingml-arduino").show();
                } else {
                    $(".form-row-thingml-arduino").hide();
                }
            }).change();

            this.editor = RED.editor.createEditor({
                id: 'node-input-thingml-editor',
                mode: 'ace/mode/none',
                value: $("#node-input-code").val()
            });
            RED.library.create({
                url: "functions", // where to get the data from
                type: "function", // the type of object the library is for
                editor: node.editor, // the field name the main text body goes to
                fields: ['name', 'outputs']
            });
            this.editor.focus();

            // File upload, using AJAX (posts a multipart) because form submission messes with binary data
            $("#node-input-sourcefile" ).change(function() {
                var file = this.files[0];
                // show main file path in archive input
                if (file.type === 'application/zip' || file.type === 'application/gzip' || file.type === 'application/x-tar') {
                    $("#node-config-row-sourcepath").show();
                } else {
                    $("#node-config-row-sourcepath").hide();
                }

                var form = new FormData();
                form.append('file', file);
                $.ajax({
                    url: "thingml-compiler/upload",
                    type: "POST",
                    data: form,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function(resp, textStatus, xhr) {
                        if (xhr.status == 200) {
                            $("#node-input-triggerModified").val(!$("#node-input-triggerModified")); // workaround to force re-deploy
                            $("#node-input-source").val(file.name);
                            $("#node-input-sourcetype").val(file.type);
                            $("#node-input-sourcefile-label").css("background-color", "lightgreen");
                            //RED.notify(node._("thingml-compiler.notification.success.upload", {message: node._("thingml-compiler.notification.success.upload")}),"success");
                            RED.notify(node._("thingml-compiler.notification.success.upload",{filename:file.name}),"success");
                        } else {
                            $("#node-input-sourcefile-label").css("background-color", "#FF9999");
                            RED.notify(node._("thingml-compiler.notification.errors.upload", {filename: file.name, error: xhr.status + " " + textStatus}),"error");
                        }
                    },
                    error: function(jqXHR,textStatus,errorThrown) {
                        let error = jqXHR.status + " " + textStatus + " " + errorThrown;
                        $("#node-input-sourcefile-label").css("background-color", "#FF9999");
                        RED.notify(node._("thingml-compiler.notification.errors.upload", {filename: file.name, error: error}),"error");
                    }
                });
            });
            $("#node-button-source-clear").click(function() {
                $("#node-input-source").val('');
                $("#node-input-sourcetype").val('');
                $("#node-input-sourcefile-label").css("background-color", "");
            });
        },
        oneditsave: function () {
            $("#node-input-code").val(this.editor.getValue())
            delete this.editor;
        }
    });
</script>
